#.srl
pki
test-jw/
*.o
*.cmd
*.o.d
*.ld.d
.cproject
.project
*.so
*.so.*
#push.sh
tam_id_pubkey_jwk.h
tam_root_cert.h
tee_privkey_jwk.h
sp_pubkey_jwk.h
*.dmp
*.elf
*.map
*.ta
ta.lds
8d8257*
mbedtls-build
sp-hello-app/sp-hello-app
teep-broker-app/teep-broker-app
pctest/libwebsockets
