[submodule "submodule/libwebsockets"]
	path = submodule/libwebsockets
	url = https://github.com/warmcat/libwebsockets.git
[submodule "submodule/mbedtls"]
	path = submodule/mbedtls
	url = https://github.com/ARMmbed/mbedtls
[submodule "submodule/QCBOR"]
	path = submodule/QCBOR
	url = https://github.com/laurencelundblade/QCBOR.git
[submodule "submodule/t_cose"]
	path = submodule/t_cose
	url = https://github.com/laurencelundblade/t_cose.git
